*{
    font-family: "Poppins", sans-serif;
}

.hero-section {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assets/banner-image.png');
background-size: cover;
background-position: center;;
height: 70vh;
display: flex;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 280px;
}

.icon-box {
    background: #f5f3ff;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
}

.icon-box i {
    color: #5842F4;
}

.product-card {
width: 280px;
background: #fff;
border: 1px solid #eee;
border-radius: 12px;
overflow: hidden;
font-family: sans-serif;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.image-box {
    background-color: #f1f3f5;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.image-box img {
    height: 180px;
    object-fit: contain;
}

.details {
    padding: 15px;

}

.category-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category {
    background: #e0e7ff;
    color: #5842F4;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.rating {
    font-size: 13px;
    color: #777;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.btn-details, .btn-add {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    font-weight: 600;
}

.btn-details {
    background: white;
    color: #555;
}

.btn-add {
    background: #5842F4;
    color: white;
    border: none;
}

.site-footer{
    background-color: #111827;
    color: #9ca3af;
    padding: 60px 10% 20px 10%;
    font-family: sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    border-bottom: 1px solid #374151;
    padding-bottom: 40px;
}
.footer-column h2.footer-logo {
    color: #5842F4;
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-column h3 {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
color: #9ca3af;
text-decoration: none;
transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.newsletter-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    flex: 1;
}

.newsletter-form button {
    background-color: #5842F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
}

.social-icons a {
    color: #9ca3af;
    margin-left: 20px;
    text-decoration: none;
}