*{
    font-family: "Poppins", sans-serif;
}

.hero-section {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assets/banner-image.png');
background-size: cover;
background-position: center;;
height: 70vh;
display: flex;
}